/* ESTILOS GENERALES DE LA PAGINA */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color4);

}





/* PALETA DE COLORES USADA EN LA PAGINA WEB */
:root {
    --color1: #FFFFFA; 
    --color2: #515052;
    --color3: #000103;
    --color4: #191919;
    --color5: #C6e3f7;

}



/* ESTILOS PARA EL MENU SUPERIOR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color4);
    color: var(--color1);
    margin-right: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);  
}

header .activo {
    color: var(--color5);
}

 
/* ESTILOS PARA EL TITULO DEL MENU SUPERIOR */
header h1 {
    float: left;
    position: relative;
    left: 50px;
}

/* ESTILOS PARA LAS LISTAS EN GENERAL DEL MENU SUPERIOR */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ESTILOS PARA LISTAS DEL MENU SUPERIOR */
header nav li {
    display: inline-block;
    margin: 0 10px;
}

/* ESTILOS PARA LOS ENLACES DEL MENU SUPERIOR */
header nav a {
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    right: 50px;
}

header nav a:hover {
    color: var(--color5);
    transition: 0.3s;
}

