body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color4);

}


:root {
    --color1: #FFFFFA; 
    --color2: #515052;
    --color3: #000103;
    --color4: #191919;
    --color5: #C6e3f7;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color4);
    color: var(--color1);
    margin-right: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);  
    top: 0;
}

header .activo {
    color: var(--color5);
}

 
header h1 {
    float: left;
    position: relative;
    left: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    margin: 0 10px;
}

header nav a {
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    right: 50px;
}

header nav a:hover {
    color: var(--color5);
    transition: 0.3s;
}


main h1 {
    margin-top: 50px;
    text-align: center;
}

.formulario {
    margin-top: 3%;
    background-color: whitesmoke;
    width: 50%;
    position: absolute;
    left: 25%;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color3);
    color: white;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
input, textarea {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    resize: none;
    background-color: var(--color2);
}
  
button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0077CC;
    color: #FFFFFF;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}
  
form {
    padding-top: 5%;
    margin: 0 auto;
    max-width: 500px;
    
}
  
footer {
    background-color: var(--color4);
    height: 10vh;
    color: white;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 715px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);  
}

footer p {
    position: relative;
    left: 10px;
}





