body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: var(--color4);
}


*{
	font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}


:root {
    --color1: #FFFFFA; 
    --color2: #515052;
    --color3: #000103;
    --color4: #191919;
    --color5: #C6e3f7;

}

form{
	width: 600px;
	border: 2px solid black;
	padding: 6rem;
	background-color: black;
	border: none;
	border-radius: 20px;
	color: aliceblue;
}


h1{
	display: block;
	border: 2px solid  black;
	width: 95%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}


label{
	color: aliceblue;
	font-size: 18px;
	padding: 10px;
	font-weight: 300;
}


input{
	display: block;
	border: 2px solid black;
	width: 95%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}


button{
	float: right;
	background-color: #749BE3;
	padding: .5rem;
	color: black;
	border: none;
	width: 40%;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}


button:hover{
	background-color: white;
	color: black;

}


a{
	float: left;
	margin-left: 10px;
	padding: .5rem;
	text-decoration: none;
	background-color: #8DD1FA;
	width: 40%;
	border-radius: 5px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	color: black;
}
a:hover{
	background-color: white;
}
a:visited{
	text-decoration: none;
}


.error{
	background-color: rgb(175, 74, 74);
	color: black;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;

}